img{
    width:100%;
}

/*about*/

.pgcont{
    margin-left: 160px;
    margin-right: 160px;
    margin-top:80px;
    margin-bottom:80px;
}
.logoContainer img{
    max-width: 60px;
    max-height: 60px;
}

.portraitContainer div,
.aboutTextContainer div{
    max-width: 600px;
    max-height: 400px;
}

.introtext{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: light;
    color: 00000;
    text-align: left;
}
.featuredwrks{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: light;
    color: 00000;
    text-align: center;
}

#arrowdowndiv{
    width: 20px;
    margin:auto;
}

.space{
    height:25px;
}

#row2{
    margin-bottom:100px;
}

#aboutrow{
    height: 700px;
}

.featcol{
    aspect-ratio:1/1;
    margin: 10px;
}

/*footer*/

h2{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #BF7DE2;
}

.bodytext{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: light;
    color: 000000;
    margin:0;
}

.bodytextbold{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: 000000;
    margin:0;
}


#ContactButton{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #BF7DE2;
    border-color:#BF7DE2;
    border-radius: 0;
    width: 250px;
    height: 70px;
    margin-top:20px;
}

.line{
    border-bottom: 1px solid #000;
    margin-left:10px;
    margin-right:10px;
}

#services{
    background-color:#f6f6f6;
    padding: 50px;
    margin-left: 10px;
    margin-right:10px;

}

#footercontact{
    padding:50px;
    margin-bottom: 20px;
}

#footerinfo{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

/*contacts*/

h1{
    font-family: 'Urbanist', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: 000000;
    text-align: left;
    margin:10px;
}

.contacts {
    padding:50px;
}

#formcont{
    margin: 10px;
    background-color:#f6f6f6;
    padding: 60px;
}

.forminput{
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    font-weight: light;
    color: #000000;
    background-color: #FFFFFF;
    border:none;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
    width:100%;
}

#buttoncont{
    display:flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom:50px;
}

#submitContactButton{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #BF7DE2;
    border-color:#BF7DE2;
    border-radius: 0;
    width: 250px;
    height: 70px;
}

.inputname{
    display:inline-block;
    width:49.65%;
}

#firstname{
    margin-right:0.25%
}

/*header*/

#normalHeader{
    padding:50px;
}

#PortfolioButton,
#aboutButton,
#ContactHeaderButton{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: light;
    color: #000000;
    background-color: #FFFFFF;
    border-color:#FFFFFF;
    border-radius: 0;
}

.logoContainer{
    display:flex;
    justify-content: center;
}

.headerbuttoncont{
    display: inline-block;
    width: 150px;
    height:60px;
    margin-top:20px;
}

#rowheader{
    display:flex;
    justify-content: center;
}

/*mobileheader*/
#PortfolioButton2,
#aboutButton2,
#ContactHeaderButton2{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    font-weight: light;
    color: #000000;
    background-color: #FFFFFF;
    border-color:#FFFFFF;
    border-radius: 0;
}