<div class="pgcont">
<div class="container text-center">
    <div class="line"></div>
    <div class="contacts text-center">
        <p class="bodytext">Contacts information</p>
        <div class="space"></div>
        <a href="hello@lisatr.ca" class="bodytextbold">hello@lisatr.ca</a>
        <p class="bodytext">0000 Stand-in Street</p>
        <p class="bodytext">Victoria, BC</p>
        <p class="bodytext">V1V1V1</p>
    </div>
    <div class="line"></div>
    
    <div class="space"></div>
    <h1>Have a question? Leave a message.</h1>
    <div class="space"></div>

    <div id="formcont">
        <div id="contactSubmit">
            <div class="inputname" id="firstname"><input type="text" id="cFName" placeholder="First Name" class="forminput"> </div>
            <div class="inputname"><input type="text" id="cLName" placeholder="Last Name" class="forminput"> </div>
            <div><input type="text" id="cEmail" placeholder="E-mail" class="forminput"> </div>
            <div> <input type="text" id="Cmessage" placeholder="Type your message here" class="forminput"> </div>
        </div>
        <div id="contactSubmitted" style="display: none;">
            <p>Thank You for the message</p>
        </div>
        <div id="contactError" style="display: none;">
        </div>
    </div>
    <div id="buttoncont">
        <button type="button" class="btn btn-info btn-lg" id="submitContactButton">Submit</button>
    </div>

    <div class="container text-center">
        <div class="line"></div>
        <div id="services">
            <p class="servicestxt">SERVICES</p>
            <p class="bodytext">Illustration | Web Design | Packaging</p>
        </div>
       
        <div class="line"></div>
        <div id="footerinfo">
            <p class="bodytextbold">hello@lisatr.ca</p>
            <p class="bodytext">0000 Stand-in Street, Victoria, BC | V1V1V1</p>
            <p class="bodytext">All work copyright @2023 Lisa Tran, all rights reserved</p>
        </div>
    </div>
</div>
</div>
<script src="scripts/contact.js" ></script>