<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>  
<link href="C:\Users\Lisa\lisatrdesigns\style\style.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;700&display=swap" rel="stylesheet">

<div class="pgcont">
<div class="container text-center">
    <div class="line"></div>
    <div class="contacts text-center">
        <p class="bodytext">Contacts information</p>
        <div class="space"></div>
        <a href="hello@lisatr.ca" class="bodytextbold">hello@lisatr.ca</a>
        <p class="bodytext">0000 Stand-in Street</p>
        <p class="bodytext">Victoria, BC</p>
        <p class="bodytext">V1V1V1</p>
    </div>
    <div class="line"></div>
    
    <div class="space"></div>
    <h1>Have a question? Leave a message.</h1>
    <div class="space"></div>

    <div id="formcont">
        <div id="contactSubmit">
            <div class="inputname" id="firstname"><input type="text" id="cFName" placeholder="First Name" class="forminput"> </div>
            <div class="inputname"><input type="text" id="cLName" placeholder="Last Name" class="forminput"> </div>
            <div><input type="text" id="cEmail" placeholder="E-mail" class="forminput"> </div>
            <div> <input type="text" id="Cmessage" placeholder="Type your message here" class="forminput"> </div>
        </div>
        <div id="contactSubmitted" style="display: none;">
            <p>Thank You for the message</p>
        </div>
        <div id="contactError" style="display: none;">
        </div>
    </div>
    <div id="buttoncont">
        <button type="button" class="btn btn-info btn-lg" id="submitContactButton">Submit</button>
    </div>

    <div class="container text-center">
        <div class="line"></div>
        <div id="services">
            <p class="servicestxt">SERVICES</p>
            <p class="bodytext">Illustration | Web Design | Packaging</p>
        </div>
       
        <div class="line"></div>
        <div id="footerinfo">
            <p class="bodytextbold">hello@lisatr.ca</p>
            <p class="bodytext">0000 Stand-in Street, Victoria, BC | V1V1V1</p>
            <p class="bodytext">All work copyright @2023 Lisa Tran, all rights reserved</p>
        </div>
    </div>
</div>
</div>
<script src="scripts/contact.js" ></script>