<div class="pgcont">
    <div class="container text-center" id="portfoliodesigner">
        <p class="bodytextbold">Lisa Tran</p>
        <p class="bodytext">Graphic Designer, Illustrator</p>
        <div class="space"></div>

    <div id="gallery">
        <div class="row" id="portrow1">
            <div class="col">
                <img src="img\Thumbnail-06.jpg" alt="img\Thumbnail-Hover-04.jpg" id="Pimage1">
            </div>
            <div class="col">
                <img src="img\Thumbnail-02.jpg" alt="img\Thumbnail-Hover-02.jpg" id="Pimage2">
            </div>
            <div class="col">
                <img src="img\Thumbnail-01.jpg" alt="img\Thumbnail-Hover-03.jpg" id="Pimage3">
            </div>
        </div>
        <div class="row" id="portrow2">
            <div class="col">
                <img src="img\Thumbnail-04.jpg" alt="img\Thumbnail-Hover-05.jpg" id="Pimage4">
            </div>
            <div class="col">
                <img src="img\Thumbnail-03.jpg" alt="img\Thumbnail-Hover-01.jpg" id="Pimage5">
            </div>
            <div class="col">
                <img src="img\Thumbnail-05.jpg" alt="img\Thumbnail-Hover-06.jpg" id="Pimage6">
            </div>
        </div>
    </div>
    </div>
    <div class="container text-center">
        <div class="line"></div>
        <div id="services">
            <p class="servicestxt">SERVICES</p>
            <p class="bodytext">
                Illustration | Web Design | Packaging
            </p>
        </div>
        <div class="line"></div>
        <div id="footercontact">
            <p class="bodytext">Want to start a project?</p>
            <button type="button" class="btn btn-info btn-lg" id="ContactButton">Contact Me</button>
        </div>
        <div class="line"></div>
        <div id="footerinfo">
            <p class="bodytextbold">hello@lisatr.ca</p>
            <p class="bodytext">0000 Stand-in Street, Victoria, BC | V1V1V1</p>
            <p class="bodytext">All work copyright @2023 Lisa Tran, all rights reserved</p>
        </div>
    </div>
</div>