<div class="pgcont">
    <div class="container">
        <div class="space"></div>
        <p id="workstextbold">Illustration</p>
        <p id="worksbodytext">This is a set of 3 isometric illustrations of popular desserts</p>
        <div class="space"></div>
    </div>
    <div class="container" id="works">
        
        <div>
            <div>
                <img src="img\Illustration_Dessert-01.jpg">
            </div>
            <div>
                <img src="img\Illustration_Dessert-02.jpg">
            </div>
            <div>
                <img src="img\Illustration_Dessert-03.jpg">
            </div>
        </div>
    </div>


    <div class="container text-center">
        <div class="line"></div>
        <div id="services">
            <p class="servicestxt">SERVICES</p>
            <p class="bodytext">
                Illustration | Web Design | Packaging
            </p>
        </div>
        <div class="line"></div>
        <div id="footercontact">
            <p class="bodytext">Want to start a project?</p>
            <button type="button" class="btn btn-info btn-lg" id="ContactButton">Contact Me</button>
        </div>
        <div class="line"></div>
        <div id="footerinfo">
            <p class="bodytextbold">hello@lisatr.ca</p>
            <p class="bodytext">0000 Stand-in Street, Victoria, BC | V1V1V1</p>
            <p class="bodytext">All work copyright @2023 Lisa Tran, all rights reserved</p>
        </div>
    </div>
</div>